<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367993199096-bdfrr9t893h37dscmlretdhfrgh8n1v2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367993199096-bdfrr9t893h37dscmlretdhfrgh8n1v2</string>
	<key>API_KEY</key>
	<string>AIzaSyBkaRwM8L0ktzbpyce4rQWK78jvsC_biz0</string>
	<key>GCM_SENDER_ID</key>
	<string>367993199096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tim.Chirp</string>
	<key>PROJECT_ID</key>
	<string>messenger-ab229</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ab229.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:367993199096:ios:8c3b716809c17753025e0d</string>
</dict>
</plist>
